@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" , sans-serif;
}
body{
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    max-width: 1500px;
    margin: 0 auto;   
}
h1{
    font-size: 1.5rem;
}
/* Book My Show Header */
header{
    height: 64px;
    background-color: white;
}
.header-content{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-header{
    width: 75%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.brand-logo{
    display: flex;
    max-width: 115px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.left-header-item{
    overflow: hidden;
    width: 100%;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: text;
    padding: 0.5rem;
    max-width: 549px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
}
.search-bar span{
    border: none;
    background: white;
    box-shadow: none;
    font-size: 0.8rem;
    color: rgb(153, 153, 153);
    max-width: 500px;
}
.right-header{
    margin: 0 10px ;  
    display: flex;
    gap: 20px;
}
.right-header .city {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
}
.right-header-items{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sign-in{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
}
#menu{
    border: none;
    background-color: transparent;
}
.right-header-items svg{
    margin: 5px ;
}

/* for menu bar in header */
.menu-container{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
    transition: all 500ms ease-in-out 0s;
}
.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}
.menu-heading{
    padding: 12px 16px;
    border-bottom: 1px solid rgb(208, 213, 230);
    background-color: rgb(255, 255, 255);
}

.login-register-container{
    display: flex;
    opacity: 1;
    width: 100%;
    padding: 12px 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.login-offer-statement{
    color: rgb(116, 126, 170);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 10px;
}
.login-menu-image img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.login-register{
    width: 125px;
    height: 40px;
    padding: 11px 13px ;
    border-radius: 8px;
    border: 1px solid rgb(248, 68, 100);
    background-color: white;
    color:  rgb(248, 68, 100);
}
.menu-content{
    height: calc(100vh - 155px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}
.menu-content::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.menu-item{
    scrollbar-width: none;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    padding: 25px ;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgb(241, 241, 241);
}
.menu-item-headers{
    flex: 1 1 0%;
}
.menu-item img{
    width: 20px;
    height: 20;
}

/* navigation bar */
nav{
    width: 95%;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;                                                                          
}
nav > *{
    display: flex;
    gap: 10px;
}
.left-nav-items a{
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.right-nav-items a{
    font-size: 12px;
    cursor: pointer;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(51, 51, 51)
}

/* carousel css */
.slides {
    margin: 1rem;
    display: flex;
    overflow-x: auto;
    border-radius: 10px;
  }
.slides > div {
    display: flex;
    flex-shrink: 0;
    width: calc(100% - 10px);
    margin-right: 10px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
    animation: sliding infinite linear 15s;
}
.slides::-webkit-scrollbar {
    display: none;
    stroke: none;
}
.caraousel-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
/* sliding animation in carousel */
@keyframes sliding {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }

}

main{
    margin: 2rem 0;
}
/* movies container css */
.card-content{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 1.2rem 0;
}
.card-container{
    display: flex;
    gap: 25px;
    overflow-x: auto;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.card-container::-webkit-scrollbar {
    display: none;
    stroke: none;
}
.card .image{
    height: 300px;
    margin: 10px 0;
}
.image img{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card .name{
    font-weight: 500;
    font-size: 1.1rem;
}
.card .type{
    font-weight: 300;
    margin-top: 5px;
}

.right-arrow{
    position: absolute;
    top: 200px;
    right: -20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-arrow svg{
    width: 16px;
    height: 16px;
}

/* Ads CSS */
.ads-container{
    width: 95%;
    margin: 40px auto;
}
.ads{
    display: flex;
    height: 100px;
    overflow-x: auto;
    border-radius: 10px;

}
.ads  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Live-Events CSS */
.live-events-container{
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
}
.live-events{   
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin: 20px 0;
}
.square-card{
    height: 210px;
    width: 210px;
    border-radius: 12%;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.live-events::-webkit-scrollbar{
    display: none;
    stroke-width: none;
}
.square-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* for premiere container */
.premiere-container{
    background-color: rgb(43, 49, 72);
    overflow: hidden;
}
.premiere-heading{
    display: block;
    margin: 0 20px;
    height: 150px;
    width: 100%;
}
.premiere-heading img{
    height: 100%;
}
.premiere-container * 
{
    color: white;
}
.premiere-container h5{
    line-height: 2;
}
.premiere-container .right-arrow{
    top: 360px;
    right: -20px;
}

/* for trending container */
.trending-container{
    margin: 0 auto;
    padding: 20px  0;
    width: 95%;
}
.trending-searches{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0 ;
}
.trending-searches a{
    text-decoration: none;
    padding: 1rem ;
    background-color: white;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
}
.trending-searches h3{
    white-space: nowrap;
    color: rgb(248, 68, 100);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-overflow: ellipsis;
}
.trending-searches p{
    white-space: nowrap;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 1.5;
    text-overflow: ellipsis;
}

/* footer section */
.footer{
    display: flex;
    flex-direction: column;
}
    /* for list your show in footer section */
    .list-your-show{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 1rem;
        background-color: rgb(49, 48, 53);
        color: rgb(255, 255, 255);
        font-size: 16px;
        width: 100%;
    }
    .list-your-show h3{
        margin-right: 16px;
    }
    .list-your-show span{
        flex: 1 1 0%;
    }
    .list-your-show a{
        background-color: rgb(236, 94, 113);
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        color: rgb(255, 255, 255)
    }

    /* for footer customer container */
    .customer-care-container{
        width: 100%;
        padding: 1rem;
        background-color: rgb(64, 64, 67);
    }
    .customer-care-content{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .customer-care-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgb(198, 198, 199);
    }
    .customer-care-item svg{
        fill: rgb(198, 198, 199);
    }
    .customer-care-item:hover svg,
    .customer-care-item:hover{
        fill: white;
        color: white;
    }

    /* for important links in footer section */
    .important-links{
        background-color: rgb(51, 51, 56);
        padding: 2rem 1.5rem 0 ;
    }
    .important-content{
        padding-bottom: 20px;
    }
    .important-links h3{
        font-size: 12px;
        margin: 10px 0 ;
        font-weight: 400;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: rgb(165, 165, 165);
    }

    .important-links a{
        font-size: 11px;
        color: rgb(127, 127, 127);
        text-decoration: none;
        padding-right: 5px;
        border-right: 1px solid rgb(127, 127, 127);
    }

    /* for contact information and copy rights in footer */
    .contact-information{
        padding: 2rem 1rem;
        background-color: rgb(51, 51, 56);
    }
    .contact-info-content{
        display: flex;
        flex-direction: column;
        flex-basis: auto;
    }
    .footer-brand-logo{
        max-width: 2000px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125px;
    }
    .left-logo-line, 
    .right-logo-line{
        width: 100%;
        flex: 1 1 0%;
        height: 1px;
        background-color: rgb(93, 93, 95);
    }
    .socials{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .socials svg{
        height: 40px;
        width: 40px;
        fill: rgb(93, 93, 95);
    }
    .socials svg:hover{
        fill: white;
    }

    .copyright-content{
        padding: 30px;
        font-size: 11px;
        color: rgb(102, 102, 102);
        text-align: center;
    }

@media (max-width : 800px){ 
    
    h1{
        font-size: 1.3rem;
    }
    /* for header items */
    .search-bar .extra-placeholder-content{
        display: none;
    }

    /* for navigation items */
    .right-nav-items{
        display: none;
    }

    /* for movies */
    .card{
        gap: 5px;
        width: 125px;
    }
    .card .image{
        height: 200px;
    }
    .card .name{
        font-size: 0.9rem;
    }
    .card .type{
        font-size: 0.7rem;
    }

    .right-arrow{
        top: 140px;
        right: 0px;
        width: 30px;
        height: 20px;
    }
    .right-arrow svg {
        height: 13px;
        width: 12px;
    }

    /* for ads in tab view */
    .ads-container{
        margin: 10px auto;
    }
    .ads{
        height: 80px;
    }

    /* for square-card */
    .square-card{
        height: 150px;
        min-width: 150px;
    }

    /* for premiere container */
    .premiere-heading{
        height: 60px;
        width: 100%;
    }
    .premiere-container .right-arrow{
        top: 230px;
        right: 0;
    }

    /* for trending items */
    .trending-container{
        padding: 20px  0;
    }
    .trending-searches{
        gap: 10px;
        margin: 10px 0 ;
    }
    .trending-searches a{
        padding: 0.8rem ;
    }
    .trending-searches p{
        font-size: 12px;;
    }

    /* footer section */

        /* for list your show in footer section */
        .list-your-show h3{
             flex: 1 1 0%;
        }
        .list-your-show span{
            display: none;
        }

        /* for footer customer container */
        .customer-care-item{
            font-size: 12px;
        }
        .customer-care-item svg{
            height: 45px;
            width: 45px;
        }

}
@media (max-width: 500px){

    h1{
        font-size: 1rem;
    }

    /* for header items */
    .brand-logo svg{
        height: 50px;
        width: 90px;
    }
    .search-bar{
        padding: 0.2rem;
    }
    .search-bar .placeholder{
        display: none;
    }
    .search-bar svg{
        height: 10px;
        width: 10px;
    }
    .city{
        display: none !important;
    }

    /* for navigation items */
    .left-nav-items{
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .right-nav-items{
        display: none;
    }

    /* for promotion-carousel */
    .slides{
        min-height: 110px;
    }

    /* for movies */
    .card{
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 90px;
    }
    .card .image{
        height: 150px;
    }
    .card .name{
        line-height: 1;
        font-size: 0.7rem;
    }
    .card .type{
        line-height: 1;
        font-size: 0.5rem;
    }
    .right-arrow{
        top: 110px;
        right: 5px;
        width: 20px;
        height: 20px;
    }
    .right-arrow svg {
        height: 10px;
        width: 10px;
    }

    /* for ads in mobile view */
    .ads-container{
        margin: 5px auto;
    }
    .ads{
        max-height: 50px;
    }

    /* for square-card */
    .square-card{
        height: 100px;
        min-width: 100px;    
    }

    /* for premiere container */
    .premiere-heading{
        height: 60px;
        width: 100%;
    }
    .premiere-container .right-arrow{
        top: 200px;
        right: -10px;
    }

    /* for trending items */
    .trending-container{
        padding: 20px  0;
    }
    .trending-searches{
        gap: 10px;
        margin: 10px 0 ;
    }
    .trending-searches a{
        padding: 0.5rem ;
    }
    .trending-searches h3{
        font-size: 13px;
        font-weight: 500;
    }
    .trending-searches p{
        font-size: 10px;;
    }

    /* footer section */

        /* for list your show in footer section */
        .list-your-show{
            gap: 10px;
            padding: 1rem; 
        }
        .list-your-show img{
            height: 25px;
        }
        .list-your-show h3{
            font-size: 16px;
            flex: 1 1 0%;
            margin-right: 16px;
        }
        .list-your-show span{
            display: none;
        }
        .list-your-show a{
            font-size: 13px;
            padding: 5px 10px;
        }

        /* for footer customer container */
        .customer-care-item{
            font-size: 10px;
        }
        .customer-care-item svg{
            height: 35px;
            width: 35px;
        }

        /* for footer brand logo */
        .footer-brand-logo{
            height: 100px;
        }

        .menu-container{
            max-width: 300px;
        }
}